@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/baskervilleregular.ttf);
}

@font-face {
    font-family: 'Baskervilleitalic';
    src: url(../fonts/baskervilleitalic.ttf);
}

@font-face {
    font-family: 'Monsterratbold';
    src: url(../fonts/montserratbold.ttf);
}

@import url(normalize.css);


/* -------------------- VARIABLES */

.small-button {
    max-width: 7%;
    margin-top: 6%;
}

.verticle-line {
    height: 53px;
    width: 3.5px;
    background: white;
}

.title-logo-setup-mid {
    display: grid;
    grid-template-columns: 20% 10% 80%;
    margin-left: 0%;
    margin-bottom: -50px;
}

.title-logo-setup-conv {
    display: grid;
    grid-template-columns: 11% 20% 2% 40%;
    margin-left: 0%;
    margin-bottom: -50px;
}

/* -------------------- GLOBAL DEFAULTS */




body {
    background-color: rgb(25, 25, 25);
    font-family: 'baskervilleregular';
    color: white;
    line-height: 1.7;
}



/* -------------------- HEADINGS AND TYPE */

h1 {
    margin-left: 0%;
    font-family: 'baskervilleitalic';
}

h2 {
    color: rgb(255, 255, 255);
}

h3 {
    font-family: 'Monsterratbold', sans-serif;
}

h4 {
    font-family: 'baskervilleitalic';
    font-size: 390%;
    margin-top: 2.5%;
    text-align: right;
    margin-left: 20px;
    line-height: 90%;
}

h5 {
    font-family: 'baskervilleitalic';
    font-size: 150%;
    text-align: center;
    margin-left: 8%;
    line-height: 120%;
    margin-top: 40%;
}

h6 {
    margin-top: auto;
    font-size: 330%;
    font-family: 'Monsterratbold';
    line-height: 100%;
}




/* -------------------- LAYOUTS */

.layout-wide {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

img,
iframe {
    max-width: 100%;
}

.image-showcase {
    max-width: 80%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.5);
    margin-left: auto;
    margin-right: auto;
}

.big-cover {
    max-width: 100%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.6);
    margin-left: 5.5%;
    margin-left: auto;
    margin-right: auto;
}

.space {
    padding-bottom: 30px;
}



/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item {
    display: grid;
    margin-top: 100px;
}

@media screen and (min-width: 400px) {

    .verticle-line {
        height: 53px;
        width: 3.5px;
        background: white;
    }
    
    .content-item {
        grid-template-columns: 50% 58%;
        margin-left: auto;
        margin-right: auto;
        margin-right: 4%;
    }

    .content-inner-text-module {
        padding-right: 10%;
        text-align: right;
    }

    .content-inner-text-moduleright {
        margin-left: -3%;
    }

    .collection-item {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 3.3%;
        margin-left: auto;
        margin-right: auto;
    }

    .extra-collectionleft {
        max-width: 88%;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
        margin-left: 1%;
        margin-bottom: 8%;
    }
    
    .extra-collectionright {
        max-width: 88%;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
        margin-left: -3.4%;
        margin-bottom: 8%;
    }

    .landscape-extra-collectionright {
        max-width: 88%;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
        margin-left: -3.2%;
        margin-bottom: 8%;
    }

    .landscape-extra-collectionleft {
        max-width: 88%;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
        margin-left: 1%;
        margin-bottom: 8%;
    }

    .reactionary-landscape-extra-collectionright {
        max-width: 88%;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
        margin-left: -3.2%;
        margin-bottom: 8%;
        margin-top: -63%;
    }

    .follow-content {
        display: grid;
        grid-template-columns: 42.54% 51% 28%;
        margin-left: 3%;
        position: fixed;
        opacity: 50%;

    }

    .title-setup {
        display: grid;
        grid-template-columns: 3% 80%;
        margin-left: 2%;
        margin-bottom: -50px;
    }
    
    .title-logo-short-form {
        max-width: 100px;
        margin-top: -30px;
    }

    .title-logo-long-form {
        max-width: 90%;
    }

    .four-grid {
        max-width: 80%;
    }
}  