@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/baskervilleregular.ttf);
}

@font-face {
    font-family: 'Baskervilleitalic';
    src: url(../fonts/baskervilleitalic.ttf);
}

@font-face {
    font-family: 'Monsterratbold';
    src: url(../fonts/montserratbold.ttf);
}

@import url(normalize.css);


/* -------------------- VARIABLES */


.small-button {
    margin-top: 25px;
    margin-left: -10px;
}

.verticle-line {
    height: 53px;
    width: 3.5px;
    background: white;
}

.title-logo-setup-mid {
    display: none;
}

.title-logo-setup-conv {
    display: grid;
    grid-template-columns: 120px 3% 25%;
    margin-left: 0px;
    margin-bottom: -80px;
    margin-top: 90px;
}

.mobile-mid {
    max-width: 30px;
    margin-left: 7px;
}

.mobile-mid-title {
    display: grid;
    grid-template-columns: 6px 1px;
    margin-bottom: 70px;
    margin-top: 100px;
}

/* -------------------- GLOBAL DEFAULTS */

.home-video-element {
    max-width: 100%;
    margin-top: -80px;
}



body {
    background-color: rgb(25, 25, 25);
    font-family: 'baskervilleregular';
    color: white;
    line-height: 1.7;
}



/* -------------------- HEADINGS AND TYPE */

h1 {
    margin-left: 0%;
    font-family: 'baskervilleitalic';
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Monsterratbold', sans-serif;
    font-size: 90%;
}

h3 {
    font-family: 'Monsterratbold', sans-serif;
}

h4 {
    font-family: 'baskervilleitalic';
    font-size: 390%;
    margin-top: 2.5%;
    text-align: right;
    margin-left: 20px;
    line-height: 90%;
    display: none;
}

h5 {
    font-family: 'baskervilleitalic';
    font-size: 150%;
    text-align: center;
    line-height: 120%;
    margin-top: 20%;
}

h6 {
    margin-top: auto;
    font-size: 330%;
    font-family: 'Monsterratbold';
    line-height: 100%;
}

.h7 {
    font-family: 'baskervilleitalic';
    font-size: 150%;
    text-align: center;
    line-height: 120%;
    padding-top: 10px;
}

.h8 {
    margin-top: auto;
    font-size: 300%;
    font-family: 'Monsterratbold';
    line-height: 100%;
}




/* -------------------- LAYOUTS */

.layout-wide {
    max-width: 935px;
    margin-left: auto;
    margin-right: auto;
}

img,
iframe {
    max-width: 100%;
}

.image-showcase {
    max-width: 80%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.5);
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.big-cover {
    max-width: 100%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.6);
    margin-left: 5.5%;
    margin-left: auto;
    margin-right: auto;
}

.space {
    padding-bottom: 30px;
}

.title-setup {
    display: grid;
    grid-template-columns: 3% 80%;
    margin-left: 2%;
    margin-bottom: -50px;
}



/* -------------------- HEADER */

header {
    position: sticky;
    top: 0%;
}

/* -------------------- NAVIGATION */

.navigation-follow-1 {
    display: none;
}

.navigation-follow-2 {
    display: grid;
    grid-template-columns: 20% 20% 20% 0% auto;
}

.vid-port {
    margin-top: -60px;
}

.pho-port {
    margin-top: -60px;
    text-align: right;
}

.gra-port {
    text-align: center;
    margin-top: -85px;
}

/* -------------------- MODULES */

.content-item {
    display: grid;
    margin-top: 40px;
}

.verticle-line-mid {
    height: 143px;
    width: 3.5px;
    background: white;
}

.verticle-line-fields {
    height: 100px;
}

.content-inner-text-module {
    text-align: center;
}

.follow-content {
    display: grid;
    grid-template-columns: auto 55% 20px;
    opacity: 50%;
    margin-left: 2%;
}

.mobile-follow-first {
    display: none;
}

footer {
    position: sticky;
    bottom: 10px;
    opacity: 50%;
}

.verticle-line-conv {
    height: 100px;
    width: 3.5px;
    background: white;
}


@media screen and (min-width: 280px) {


    .content-inner-text-module-middledisplay {
        margin-top: 7%;
        padding-left: 6%;
        text-align: center;
        margin-bottom: 12%;

    }

    .collection-item {
        display: grid;
        grid-template-columns: 44.9% 4.9% 44.9%;
        margin-top: 5%;
    }

    /*--------- THE SPECIFIC GRIDS ---------*/

    .extra-collection {
        margin-left: 6.5%;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
    }

    .extra-collectionleft {
        margin-left: 6.5%;
    }
    
    .extra-collectionright {
        margin-bottom: 8.5%;
    }

    .landscape-extra-collectionright {
        margin-bottom: 8.5%;
    }

    .landscape-extra-collection{
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
        margin-bottom: 8%;
        margin-left: 6.5%;
    }

    .landscape-extra-collectionleft {
        margin-top: 8.5%;
    }


    .reactionary-landscape-extra-collectionright {
        margin-top: -60%;
        max-width: 100%;
    }

    /*--------   LOGO   --- TITLE changes ------------*/

    .title-logo-short-form {
        max-block-size: 100px;
        margin-top: 0px;
    }

    .title-logo-long-form {
        display: none;
        max-block-size: 36px;
    
    }

    /*--------------------------------------*/

    .four-grid {
        max-width: 80%;
    }
    
}  


@media screen and (min-width: 415px) {

    .image-showcase {
        max-width: 90%;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.5);
        display: inline;
    }

    .content-item {
        grid-template-columns: 50% 50%;
        margin-top: 100px;
    }

    .content-inner-text-module {
        padding-right: 5%;
        box-sizing: border-box;
        text-align: right;
    }

    h4 {
        display: block;
    }

    h5 {
        font-size: 150%;
        margin-left: 8%;
        margin-top: 40%;
    }

    .h7 {
        display: none;
    }

    .small-button {
        margin-top: 25px;
    }


}

@media screen and (min-width: 480px) {

    .title-logo-setup-conv {
        display: flex;
        justify-content: space-around;
        margin-bottom: -70px;
    }
    
}


@media screen and (min-width: 515px) {

    .title-logo-setup-mid {
        display: flex;
        justify-content: space-around;
        margin-left: 0%;
        margin-bottom: -40px;
        margin-top: 100px;
    }

    .mobile-mid-title {
        max-width: 30px;
        display: none;
    }

    .verticle-line-mid {
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .verticle-line-fields {
        height: 53px;
    }

    .follow-content {
        display: grid;
        grid-template-columns: auto 54% 20px;
        opacity: 50%;
        margin-left: 10px;
    }
    

}

@media screen and (min-width: 600px) {

    .title-logo-setup-mid {
        margin-top: 120px;
        margin-bottom: -20px;
    }

    .title-logo-setup-conv {
        margin-left: 1px;
        margin-top: 100px;
        margin-bottom: -20px;
    }

    .punkbreak {
        display: none;
    }


    /*------------- NAV/FOOTER -----------------*/

    .navigation-follow-2 {
        display: flex;
        justify-content: space-around;
    }
    
    .vid-port {
        margin-top: -60px;
    }
    
    .pho-port {
        margin-top: -60px;
        text-align: right;
        margin-left: 0%;
    }
    
    .gra-port {
        text-align: center;
    }

    h2 {
        font-size: 120%;
    }

    footer {
        bottom: 21px;
    }
    
}

@media screen and (min-width: 700px) {

    
}

@media screen and (min-width: 747px) {

    .verticle-line-mid {
        height: 53px;
    }

}

@media screen and (min-width: 842px) {

    .follow-content {
        display: grid;
        grid-template-columns: auto 54% 20px;
        opacity: 50%;
    }
    
}


@media screen and (min-width: 900px) {

    .title-logo-long-form {
        max-width: 100%;
        margin-top: 11px;
        margin-left: -20px;
        display: block;
    }


    /*---------- Top NAV --------------*/

    .mobile-follow-first {
        display: block;
    }

    .mobile-follow {
        display: none;
    }

    .follow-content {
        display: grid;
        grid-template-columns: auto 52% 20px;
        opacity: 50%;
    }

    /*------------- Bottom NAV -----------------*/

    .navigation-follow-1 {
        display: flex;
        justify-content: space-around;
    }

    .navigation-follow-2 {
        display: none;
    }

    .vid-port {
        margin-top: -60px;
    }

    .pho-port {
        margin-top: -60px;
        margin-left: 0%;
        text-align: center;
    }
}



