@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/baskervilleregular.ttf);
}

@font-face {
    font-family: 'Baskervilleitalic';
    src: url(../fonts/baskervilleitalic.ttf);
}

@font-face {
    font-family: 'Monsterratbold';
    src: url(../fonts/montserratbold.ttf);
}

@import url(normalize.css);


/* -------------------- VARIABLES */

.small-button {
    max-width: 10%;
    margin: auto;
    
}


/* -------------------- GLOBAL DEFAULTS */




body {
    background-color: rgb(25, 25, 25);
    font-family: 'baskervilleregular';
    color: white;
    line-height: 1.7;
}


/* -------------------- HEADINGS AND TYPE */

h1 {
    margin-left: 0%;
    font-family: 'baskervilleitalic';
}

h2 {
    color: rgb(255, 255, 255);
}

h3 {
    font-family: 'Monsterratbold', sans-serif;
}

h4 {
    font-family: 'baskervilleitalic';
    font-size: 350%;
    margin-top: 2.5%;
    text-align: right;
    margin-left: 20px;
    line-height: 90%;
}

h5 {
    font-family: 'baskervilleitalic';
    font-size: 150%;
    text-align: center;
    margin-left: 8%;
    line-height: 90%;
    margin-top: 40%;
}

h6 {
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: auto;
    font-size: 350%;
    font-family: 'Monsterratbold';
}


/* -------------------- LAYOUTS */

.layout-wide {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 80%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
}

.big-cover {
    max-width: 85.5%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
    margin-left: 5.5%;
}

.extra-collectionleft {
    max-width: 80%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
    margin-left: 8%;
}

.extra-collectionright {
    max-width: 80%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0,.4);
}



/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

.content-item {
    display: grid;
    margin-top: 100px;
}

@media screen and (min-width: 400px) {

    .content-item {
        grid-template-columns: 50% 50%;
    }

    .content-inner-text-module {
        padding-right: 38px;
        text-align: right;
    }

    .collection-item {
        grid-template-columns: 50% 50%;
        margin-top: 12%;
    }
